p
  - var current = parseInt(limit);
  - var maximum = parseInt(max);
  if (current > 0)
    a(
      href='/main?ID='+(current-1)
    ) Step Back to Previous Event
  br
  if (current < maximum)
    a(
      href='/main?ID='+(current+1)
    ) Go Forward to Next Event

p
  strong Total Revenue:
  text $
  text= figures.revenue

  br
  strong Total Expenditure:
  text $
  text= figures.expenditure

  br
  strong Total Events:
  text= figures.event

p
  strong Amount of mail
  table
    tr
      th= 'From-To'
      th= 'Total Volume (cubic centimetre)'
      th= 'Total Weight (gram)'
      th= 'Total Items'

    for instance in figures.mail
      tr
        for property in instance
          td= property


p
  strong Average Delivery Times and Critical Routes
  table
    tr
      th= 'From-To'
      th= 'Total Expenditure $'
      th= 'Total Revenue $'
      th= 'Total Price to Cost Difference $'
      th= 'Total Duration (days)'
      th= 'Total Items'
      th= 'Average Expenditure $'
      th= 'Average Revenue $'
      th= 'Average Delivery (days)'
      th= 'Price to Cost Ratio $'
      th= 'Critical?'

    for instance in figures.routes
      tr
        for property in instance
          td= property
