
ul
  li
    a(
      href='main'
    ) Home
  li
    a(
      href='deliver'
    ) Mail Delivery
  li
    a(
      href='cost-up'
    ) Cost Update
  li
    a(
      href='price-up'
    ) Price Update
  li
    a(
      href='close-rt'
    ) Close Route

ul
  li
    a(
      href='price-list'
    ) View Price List
  li
    a(
      href='cost-list'
    ) View Costs List
