
ul
  li
    a(
      href='deliver'
    ) Mail Delivery
  li
    a(
      href='receive-intl'
    ) Receive International Mail
  if (username==='Manager')
    li
      a(
        href='analysis'
      ) Business Analysis
  li
    a(
      href='cost-up'
    ) Cost Update
  li
    a(
      href='price-up'
    ) Price Update
  li
    a(
      href='close-rt'
    ) Close Route

ul
  li
    a(
      href='price-list'
    ) View Price List
  li
    a(
      href='cost-list'
    ) View Costs List
