extends ../shared/layout.pug

block content
  p
    a(
      href='test'
    ) Test
  h1= title

  script.
    function checkInput() {
      if(document.getElementById('newPass').value !== document.getElementById('newRePass').value) {
        alert('Password and retyped new password are not the same');
        return false;
      }

      return true;
    }

  form(action='/login',method='post')
    fieldset
      h2 Login
      strong Username
      input(
        type='text'
        name='username'
        placeholder='Username'
        required
      )

      br

      strong Password
      input(
        type='password'
        name='password'
        placeholder='Password'
        required
      )

      br

      button Submit

  form(action='/signup',method='post')
    fieldset
      h2 Signup

      strong Username *
      span Manager
      input(
        type='radio'
        name='role'
        value='Manager'
        checked
        required
      )

      span Clerk
      input(
        type='radio'
        name='role'
        value='Clerk'
        required
      )

      br

      strong Password *
      input(
        type='password'
        name='passwordinput'
        id='newPass'
        placeholder='password'
        required
      )

      br

      strong Re-type password *
      input(
        type='password'
        name='retypepassword'
        id='newRePass'
        placeholder='re-type password'
        required
      )

      br

      strong Email *
      input(
        type='email'
        name='emailinput'
        id='email'
        placeholder='recovery email'
        required
      )

      br

      p
        strong=  'Fields marked with * are required'

      input(
        type='submit'
        value='Submit'
        onclick='return checkInput()'
      )
