extends ../shared/layout.pug

block content
  h1= title
  include ../shared/login_info.pug
  include ../shared/nav.pug

  script.
    function checkFromTo() {
      if(document.getElementById('origin').value === document.getElementById('dest').value) {
        alert('Origin and destination cannot be the same');
        return false;
      }

      return true;
    }

  form(action='/discontinue',method='post')
    fieldset
      strong Company *
      select(name='company')
        for val in company
          if (instance === null || instance.company[0] !== val)
            option(value=val) #{val}
          else
            option(value=val selected) #{val}
      br

      strong Origin *
      select(id='origin' name='from')
        for val in from
          if (instance === null || instance.from[0] !== val)
            option(value=val) #{val}
          else
            option(value=val selected) #{val}
      br

      strong Destination *
      select(id='dest' name='to')
        for val in to
          if (instance === null || instance.to[0] !== val)
            option(value=val) #{val}
          else
            option(value=val selected) #{val}
      br

      strong Type *
      select(name='type')
        for val in type
          if (instance === null || instance.type[0] !== val)
            option(value=val) #{val}
          else
            option(value=val selected) #{val}
      br

      if (instance !== null)
        p= 'This form has been pre-filled. You may choose to change these values'

      p
        strong=  'Fields marked with * are required'

      input(
        type='submit'
        value='Submit'
        onclick='return checkFromTo()'
      )
