extends ../shared/layout.pug

block content
  h1= title
  include ../shared/nav.pug

  script.
    function checkInput() {
      if(document.getElementById('newPass').value !== document.getElementById('newRePass').value) {
        alert('New password and retyped new password are not the same');
        return false;
      }

      return true;
    }

  form(action='/edit_process' method='post' class='form-horizontal' role='form')
    fieldset
      div(class='form-group')
        label(class='control-label col-sm-2' for='role') Username *
        div(class="col-sm-5")
          input(
            type='text'
            name='role'
            value= username
            disabled
            required
            class='form-control'
          )

      div(class='form-group')
        label(class='control-label col-sm-2' for='currentpasswordinput') CURRENT Password *
        div(class="col-sm-5")
          input(
            type='password'
            name='currentpasswordinput'
            placeholder='current password'
            required
            class='form-control'
          )

      div(class='form-group')
        label(class='control-label col-sm-2' for='newPass') NEW Password
        div(class="col-sm-5")
          input(
            type='password'
            name='passwordinput'
            id='newPass'
            placeholder='new password'
            class='form-control'
          )

      div(class='form-group')
        label(class='control-label col-sm-2' for='newRePass') Re-type NEW password
        div(class="col-sm-5")
          input(
            type='password'
            name='retypepassword'
            id='newRePass'
            placeholder='re-type new password'
            class='form-control'
          )

      div(class='form-group')
        label(class='control-label col-sm-2' for='email') Email *
        div(class="col-sm-5")
          input(
            type='email'
            name='emailinput'
            id='email'
            value= email
            placeholder='recovery email'
            required
            class='form-control'
          )

      div(class='form-group')
        div(class='col-sm-offset-2 col-sm-10')
          p
            strong=  'Fields marked with * are required'

      div(class='form-group')
        div(class='col-sm-offset-2 col-sm-10')
          input(
            type='submit'
            value='Submit'
            onclick='return checkInput()'
            class='btn btn-default'
          )
