extends ../shared/layout.pug

block content
  h1= title
  include ../shared/login_info.pug
  include ../shared/nav.pug

  script.
    function disable() {
      var value = document.getElementById('scope').value;

      if (value === 'Domestic') {
        document.getElementById('toLocal').disabled=false;
        document.getElementById('toLocal').style.visibility='visible';

        document.getElementById('toIntl').disabled=true;
        document.getElementById('toIntl').style.visibility='hidden';
      } else if (value === 'International') {
        document.getElementById('toIntl').disabled=false;
        document.getElementById('toIntl').style.visibility='visible';

        document.getElementById('toLocal').disabled=true;
        document.getElementById('toLocal').style.visibility='hidden';
      }
    }
    window.onload = disable;

    function checkScope() {
      var value = document.getElementById('scope').value;
      if(value !== 'International' && value !== 'Local') {
        alert('Select mail scope');
        return false;
      } else if(value === 'Local' && document.getElementById('origin').value === document.getElementById('locDropDown').value) {
        alert('Origin and destination cannot be the same');
        return false;
      }

      return true;
    }

  form(action='/mail',method='post')
    fieldset
      strong Origin *
      select(id='origin' name='from')
        for val in localTo
          option(value=val) #{val}
      br

      strong Scope *
      select(id='scope' name='scope' onchange='disable()')
        //option(value=null selected) #{'Please select scope'}
        for val in scope
          option(value=val) #{val}

      br
      div(id='toLocal')
        strong Local Destination*
        select(id='locDropDown' name='toLocal')
         for val in localTo
           option(value=val) #{val}

      div(id='toIntl')
        strong International Destination*
        select(name='toIntl')
         for val in intl
           option(value=val) #{val}

      strong Priority *
      select(name= 'priority')
        for val in priority
          option(value=val) #{val}
      br

      strong Volume *
      input(type='number' step='0.01' min='1' name='volume' placeholder='volume in cubic centimetre' required)
      br

      strong Weight *
      input(type='number' step='0.01' min='1' name='weight' placeholder='weight in grams' required)
      br

      p
        strong=  'Fields marked with * are required'

      input(
        type='submit'
        value='Submit'
        onclick='return checkScope()'
      )
