extends ../shared/layout.pug

block content
  h1= title
  include ../shared/nav.pug

  script.
    function disable() {
      var value = document.getElementById('scope').value;

      if (value === 'Domestic') {
        document.getElementById('toLocal').disabled=false;
        document.getElementById('toLocal').style.visibility='visible';

        document.getElementById('toIntl').disabled=true;
        document.getElementById('toIntl').style.visibility='hidden';
      } else if (value === 'International') {
        document.getElementById('toIntl').disabled=false;
        document.getElementById('toIntl').style.visibility='visible';

        document.getElementById('toLocal').disabled=true;
        document.getElementById('toLocal').style.visibility='hidden';
      }
    }
    window.onload = disable;

    function checkScope() {
      var value = document.getElementById('scope').value;
      if(value !== 'International' && value !== 'Domestic') {
        alert('Select mail scope');
        return false;
      } else if(value === 'Domestic' && document.getElementById('origin').value === document.getElementById('locDropDown').value) {
        alert('Origin and destination cannot be the same');
        return false;
      }

      return true;
    }

  form(action='/mail' method='post' class='form-horizontal' role='form')
    fieldset
      div(class='form-group')
        label(class='control-label col-sm-2' for='origin') Origin *
        div(class="col-sm-5")
          select(id='origin' name='from' class='form-control')
            for val in localTo
              option(value=val) #{val}

      div(class='form-group')
        label(class='control-label col-sm-2' for='scope') Scope *
        div(class="col-sm-5")
          select(id='scope' name='scope' onchange='disable()' class='form-control')
            for val in scope
              option(value=val) #{val}

      div(id='toLocal' class='form-group')
        label(class='control-label col-sm-2' for='locDropDown') Local Destination *
        div(class="col-sm-5")
          select(id='locDropDown' name='toLocal' class='form-control')
           for val in localTo
             option(value=val) #{val}

      div(id='toIntl' class='form-group')
        label(class='control-label col-sm-2' for='toIntl') International Destination *
        div(class="col-sm-5")
          select(name='toIntl' class='form-control')
           for val in intl
             option(value=val) #{val}

      div(class='form-group')
        label(class='control-label col-sm-2' for='priority') Priority *
        div(class="col-sm-5")
          select(name= 'priority' class='form-control')
            for val in priority
              option(value=val) #{val}

      div(class='form-group')
        label(class='control-label col-sm-2' for='volume') Volume *
        div(class="col-sm-5")
          input(class='form-control' type='number' step='0.01' min='1' name='volume' placeholder='volume in cubic centimetre' required)

      div(class='form-group')
        label(class='control-label col-sm-2' for='weight') Weight *
        div(class="col-sm-5")
          input(class='form-control' type='number' step='0.01' min='1' name='weight' placeholder='weight in grams' required)

      div(class='form-group')
        div(class='col-sm-offset-2 col-sm-10')
          p
            strong=  'Fields marked with * are required'

      div(class='form-group')
        div(class='col-sm-offset-2 col-sm-10')
          input(
            type='submit'
            value='Submit'
            onclick='return checkScope()'
            class='btn btn-default'
          )
