extends ../shared/layout.pug

block content
  h1= title
  include ../shared/nav.pug

  script.
    function disable() {
      var value = document.getElementById('scope').value;

      if (value === 'Domestic') {
        document.getElementById('dest').disabled=true;
        document.getElementById('dest').style.visibility='hidden';
        document.getElementById('origin').disabled=true;
        document.getElementById('origin').style.visibility='hidden';
      } else if (value === 'International') {
        document.getElementById('dest').disabled=false;
        document.getElementById('dest').style.visibility='visible';
        document.getElementById('origin').disabled=false;
        document.getElementById('origin').style.visibility='visible';
      }
    }
    window.onload = disable;

    function checkFromTo() {
      var froms = ['Auckland', 'Hamilton', 'Rotorua', 'Palmerston North', 'Wellington', 'Christchurch', 'Dunedin', 'New Zealand'];
      var destination = document.getElementById('to').value;
      if(document.getElementById('scope').value === 'International' && document.getElementById('from').value === document.getElementById('to').value) {
        alert('Origin and destination cannot be the same');
        return false;
      } else if(document.getElementById('scope').value === 'International' && froms.indexOf(destination) >= 0) {
        alert('You have selected international as your scope.  You cannot select a local destination');
        return false;
      }

      return true;
    }

  form(action='/price_process' method='post' class='form-horizontal' role='form')
    - var sco
    - var pri

    if (instance !== null)
      - var array = instance.priority[0].split(' ')
      - sco = array[0]
      - pri = array[1]

    fieldset
      div(class='form-group')
        label(class='control-label col-sm-2' for='scope') Scope *
        div(class="col-sm-5")
          select(id='scope' name='scope' onchange='disable()' class='form-control')
            for val in scope
              if (instance === null || sco !== val)
                option(value=val) #{val}
              else
                option(value=val selected) #{val}

      div(class='form-group')
        label(class='control-label col-sm-2' for='priority') Priority *
        div(class="col-sm-5")
          select(name= 'priority' class='form-control')
            for val in priority
              if (instance === null || pri !== val)
                option(value=val) #{val}
              else
                option(value=val selected) #{val}

      div(id='origin' class='form-group')
        label(class='control-label col-sm-2' for='from') Origin *
        div(class="col-sm-5")
          select(id='from' name='from' class='form-control')
            for val in froms
              if (instance === null || instance.from[0] !== val)
                option(value=val) #{val}
              else
                option(value=val selected) #{val}

      div(id='dest' class='form-group')
        label(class='control-label col-sm-2' for='to') Destination *
        div(class="col-sm-5")
          if (instance === null)
            input(class='form-control' type='text' id='to' name='to' placeholder='enter city name' required)
          else
            input(class='form-control' type='text' id='to' name='to' value=instance.to[0]  placeholder='enter city name' required)

      div(class='form-group')
        label(class='control-label col-sm-2' for='volumecost') Volume Cost *
        div(class="col-sm-5")
          if (instance === null)
            input(class='form-control' type='number' step='0.01' min='1' name='volumecost' placeholder='cost per cubic centimetre' required)
          else
            input(class='form-control' type='number' step='0.01' min='1' name='volumecost' value=instance.volumecost[0] placeholder='cost per cubic centimetre' required)

      div(class='form-group')
        label(class='control-label col-sm-2' for='weightcost') Weight Cost *
        div(class="col-sm-5")
          if (instance === null)
            input(class='form-control' type='number' step='0.01' min='1' name='weightcost' placeholder='cost per gram' required)
          else
            input(class='form-control' type='number' step='0.01' min='1' name='weightcost' value=instance.weightcost[0] placeholder='cost per per gram' required)

      div(class='form-group')
        div(class='col-sm-offset-2 col-sm-10')
          if (instance !== null)
            p= 'This form has been pre-filled. You may choose to change these values'
          p
            strong=  'Fields marked with * are required'
      div(class='form-group')
        div(class='col-sm-offset-2 col-sm-10')
          input(
            type='submit'
            value='Submit'
            onclick='return checkFromTo()'
            class='btn btn-default'
          )
